.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml
**/target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store

# dotenv environment variables file
.env
.env.test

# node_modules
package-lock.json
node_modules/

# test_output
test-results/
e2e/e2e-documentation/results/

## Helm
charts/civil-ccd/charts/**
charts/civil-ccd/Chart.lock

# Yarn 3 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/test-results/
/playwright-report/
/blob-report/
playwright/.cache/

# Playwright
playwright-test-results/
allure-results/
playwright-allure-functional-results/
playwright-allure-bootstrap-results/
playwright-allure-bootstrap-report/
playwright-allure-functional-report/
allure-report/
playwright-report/
/playwright-e2e/fixtures/.users/
/playwright-e2e/fixtures/.user-cookies/
/playwright-e2e/fixtures/.user-assigned-cases/
/playwright-e2e/fixtures/data/bankHolidays.json
