{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.spec.ts",
      "options": {
        "arrowParens": "always",
        "trailingComma": "none",
        "printWidth": 300
      }
    }
  ]
}
