civil-service:
  java:
    image: 'hmctspublic.azurecr.io/civil/service:latest'
    keyVaults:
      civil:
        resourceGroup: civil
        secrets:
          - name: civil-idam-client-secret
            alias: idam.client.secret
          - name: microservicekey-civil-service
            alias: idam.s2s-auth.totp_secret
          - name: system-update-user-username
            alias: CIVIL_SYSTEM_UPDATE_USERNAME
          - name: system-update-user-password
            alias: CIVIL_SYSTEM_UPDATE_PASSWORD
          - name: cross-access-user-username
            alias: CIVIL_CROSS_ACCESS_USERNAME
          - name: cross-access-user-password
            alias: CIVIL_CROSS_ACCESS_PASSWORD
          - name: prd-admin-user-username
            alias: CIVIL_PRD_ADMIN_USERNAME
          - name: prd-admin-user-password
            alias: CIVIL_PRD_ADMIN_PASSWORD
          - name: docmosis-api-key
            alias: docmosis.tornado.key
          - name: gov-notify-api-key
            alias: GOV_NOTIFY_API_KEY
          - name: sendgrid-api-key
            alias: SENDGRID_API_KEY
          - name: robotics-notification-sender
            alias: robotics.notification.sender
          - name: robotics-notification-recipient
            alias: robotics.notification.recipient
          - name: launch-darkly-sdk-key-non-prod
            alias: LAUNCH_DARKLY_SDK_KEY
          - name: robotics-notification-multipartyrecipient
            alias: robotics.notification.multipartyrecipient
          - name: robotics-notification-recipient-spec
            alias: robotics.notification.specRecipient
          - name: robotics-notification-recipient-lipj
            alias: robotics.notification.lipJRecipient
          - name: ordnance-survey-api-key
            alias: OS_POSTCODE_LOOKUP_API_KEY
          - name: notification-caseworker-spec-receiver
            alias: notification.caseworker.spec.receiver
          - name: mediation-notification-sender
            alias: mediation.emails.sender
          - name: mediation-notification-recipient
            alias: mediation.emails.recipient
          - name: hmc-servicebus-shared-access-key-tf
            alias: HMC_HEARINGS_TOPIC_ACCESS_KEY
    environment:
      LAUNCH_DARKLY_ENV: ${SERVICE_FQDN}
      OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/realms/root/realms/hmcts
      SERVICE_REQUEST_UPDATE: https://${SERVICE_NAME}.preview.platform.hmcts.net/service-request-update
      SERVICE_REQUEST_UPDATE_CLAIM_ISSUED: https://${SERVICE_NAME}.preview.platform.hmcts.net/service-request-update-claim-issued
      HMC_HEARINGS_SUBSCRIPTION_ENABLED: false
      CMC_DB_HOST: civil-preview.postgres.database.azure.com
      CMC_DB_CONNECTION_OPTIONS: "?stringtype=unspecified&reWriteBatchedInserts=true&sslmode=require"
      CMC_DB_USERNAME: hmcts
      CMC_DB_NAME: "pr-${CHANGE_ID}-cmc"
    secrets:
      CMC_DB_PASSWORD:
        secretRef: postgres
        key: PASSWORD
        disabled: false
    postgresql:
      enabled: false

xui-webapp:
  nodejs:
    ingressHost: xui-${SERVICE_FQDN}
    environment:
      SERVICES_WORK_ALLOCATION_TASK_API: http://{{ .Release.Name }}-wa-task-management-api
      SERVICES_WA_WORKFLOW_API_URL: http://wa-workflow-api-${SERVICE_FQDN}
      SERVICES_TRANSLATION_API_URL: http://${SERVICE_NAME}-translation-service

ccd:
  global:
    postgresUsername: hmcts
    postgresSecret: postgres
    postgresHostname: civil-preview.postgres.database.azure.com
    databaseNamePrefix: "pr-${CHANGE_ID}-"
  ccd-api-gateway-web:
    nodejs:
      ingressHost: gateway-${SERVICE_FQDN}
  ccd-data-store-api:
    java:
      disableKeyVaults: true
      environment:
        OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-{{ .Values.global.environment }}.internal:8443/openam/oauth2/hmcts
        CCD_S2S_AUTHORISED_SERVICES_CASE_USER_ROLES: civil_service,aac_manage_case_assignment
        DATA_STORE_S2S_AUTHORISED_SERVICES: ccd_data,ccd_gw,ccd_ps,bulk_scan_orchestrator,ccpay_bubble,ctsc_work_allocation,em_ccd_orchestrator,xui_webapp,civil_service,ccd_case_document_am_api,aac_manage_case_assignment,wa_task_management_api,wa_task_monitor,wa_case_event_handler,wa_workflow_api,civil_general_applications
        DATA_STORE_DB_OPTIONS: "?stringtype=unspecified"
        DATA_STORE_DB_NAME: "{{ .Values.global.databaseNamePrefix }}data-store"
        DATA_STORE_DB_HOST: "{{ .Values.global.postgresHostname }}"
        DATA_STORE_DB_USERNAME: '{{ tpl .Values.global.postgresUsername $}}'
        DATA_STORE_DEFAULT_LOG_LEVEL: DEBUG
        CASE_DATA_ISSUE_LOG_LEVEL: DEBUG
        UPLOAD_TIMESTAMP_FEATURED_CASE_TYPES: CIVIL, GENERALAPPLICATION
      ingressHost: ccd-data-store-api-${SERVICE_FQDN}
      secrets:
        DATA_STORE_DB_PASSWORD:
          secretRef: postgres
          key: PASSWORD
          disabled: false
  ccd-definition-store-api:
    java:
      ingressHost: ccd-definition-store-${SERVICE_FQDN}
      disableKeyVaults: true
      environment:
        DEFINITION_STORE_DB_OPTIONS: "?stringtype=unspecified"
        DEFINITION_STORE_DB_NAME: "{{ .Values.global.databaseNamePrefix }}definition-store"
        DEFINITION_STORE_DB_HOST: "{{ .Values.global.postgresHostname }}"
        DEFINITION_STORE_DB_USERNAME: '{{ tpl .Values.global.postgresUsername $}}'
      secrets:
        DEFINITION_STORE_DB_PASSWORD:
          secretRef: postgres
          key: PASSWORD
          disabled: false
  ccd-user-profile-api:
    java:
      environment:
        USER_PROFILE_DB_OPTIONS: "?stringtype=unspecified"
        USER_PROFILE_DB_PASSWORD: ${POSTGRES_PASSWORD}
      secrets:
        USER_PROFILE_DB_PASSWORD:
          secretRef: "{{ .Values.global.postgresSecret }}"
          key: PASSWORD
          disabled: false

camunda-bpm:
  enabled: true
  java:
    disableKeyVaults: true
    secrets:
      CAMUNDA_DB_PASSWORD:
        secretRef: postgres
        key: PASSWORD
        disabled: false
    environment:
      CAMUNDA_DB_HOST: civil-preview.postgres.database.azure.com
      CAMUNDA_DB_USER_NAME: hmcts
      CAMUNDA_DB_CONN_OPTIONS: "?stringtype=unspecified&reWriteBatchedInserts=true&sslmode=require"
      CAMUNDA_DB_NAME: "pr-${CHANGE_ID}-camunda"
      TEMP_VAR: false

em-stitching:
  enabled: true
  java:
    imagePullPolicy: Always
    releaseNameOverride: ${SERVICE_NAME}-em-stitching
    image: hmctspublic.azurecr.io/em/stitching:latest
    ingressHost: em-stitching-${SERVICE_FQDN}
    environment:
      SPRING_DATASOURCE_NAME: "pr-${CHANGE_ID}-emstitch"
    secrets:
      SPRING_DATASOURCE_PASSWORD:
        secretRef: postgres
        key: PASSWORD
        disabled: false

postgresql:
  enabled: true
  flexibleserver: civil-preview
  setup:
    databases:
      - name: "pr-${CHANGE_ID}-data-store"
      - name: "pr-${CHANGE_ID}-definition-store"
      - name: "pr-${CHANGE_ID}-user-profile"
      - name: "pr-${CHANGE_ID}-camunda"
      - name: "pr-${CHANGE_ID}-role-assignment"
      - name: "pr-${CHANGE_ID}-cft_task_db"
      - name: "pr-${CHANGE_ID}-wa-case-event-handler"
      - name: "pr-${CHANGE_ID}-wa_workflow_api"
      - name: "pr-${CHANGE_ID}-cmc"
      - name: "pr-${CHANGE_ID}-emstitch"
