ccd-case-document-am-api:
  enabled: false
em-ccdorc:
  enabled: false
em-stitching:
  enabled: false

idam-pr:
  redirect_uris:
    XUI:
      - https://civil-ccd-xui-staging.aat.platform.hmcts.net/oauth2/callback
xui-webapp:
  nodejs:
    ingressHost: civil-ccd-xui-staging.aat.platform.hmcts.net
    memoryRequests: 2Gi
    cpuRequests: 2000m
    memoryLimits: 4Gi
    cpuLimits: 3500m
    devmemoryRequests: 6Gi
    devcpuRequests: 2000m
    devmemoryLimits: 8Gi
    devcpuLimits: 4500m
ccd:
  ccd-api-gateway-web:
    nodejs:
      ingressHost: civil-ccd-gateway-staging-aat.aat.platform.hmcts.net
  ccd-data-store-api:
    java:
      ingressHost: civil-ccd-data-store-staging-aat.aat.platform.hmcts.net
      devcpuRequests: 1000m
      devmemoryRequests: 2048Mi
      devmemoryLimits: 8Gi
      environment:
        DATA_STORE_DB_PASSWORD: ${POSTGRES_PASSWORD}
        DATA_STORE_DB_OPTIONS: "?stringtype=unspecified"
      secrets:
        STORAGE_ACCOUNT_NAME:
          secretRef: storage-secret-{{ .Release.Name }}-blobstorage
          key: storageAccountName
          disabled: true
        STORAGE_ACCOUNT_KEY:
          secretRef: storage-secret-{{ .Release.Name }}-blobstorage
          key: accessKey
          disabled: true
        DATA_STORE_DB_PASSWORD:
          secretRef: "{{ .Values.global.postgresSecret }}"
          key: PASSWORD
          disabled: true

  ccd-definition-store-api:
    java:
      ingressHost: civil-ccd-definition-store-staging-aat.aat.platform.hmcts.net
      devcpuRequests: 1000m
      devmemoryRequests: 4096Mi
      devmemoryLimits: 8192Mi
      environment:
        DEFINITION_STORE_DB_PASSWORD: ${POSTGRES_PASSWORD}
        DEFINITION_STORE_DB_OPTIONS: "?stringtype=unspecified"
      secrets:
        STORAGE_ACCOUNT_NAME:
          secretRef: storage-secret-{{ .Release.Name }}-blobstorage
          key: storageAccountName
          disabled: true
        STORAGE_ACCOUNT_KEY:
          secretRef: storage-secret-{{ .Release.Name }}-blobstorage
          key: accessKey
          disabled: true
        DEFINITION_STORE_DB_PASSWORD:
          secretRef: "{{ .Values.global.postgresSecret }}"
          key: PASSWORD
          disabled: true

  ccd-user-profile-api:
    java:
      ingressHost: civil-ccd-xui-staging-aat.aat.platform.hmcts.net
      environment:
        USER_PROFILE_DB_PASSWORD: ${POSTGRES_PASSWORD}
        USER_PROFILE_DB_OPTIONS: "?stringtype=unspecified"
      secrets:
        USER_PROFILE_DB_PASSWORD:
          secretRef: "{{ .Values.global.postgresSecret }}"
          key: PASSWORD
          disabled: true

camunda-bpm:
  java:
    ingressHost: civil-ccd-camunda-staging-aat.aat.platform.hmcts.net
    devcpuRequests: 1000m
    devmemoryRequests: 1024Mi
    devcpuLimits: 1
    devmemoryLimits: 1Gi
    environment:
      CAMUNDA_DB_USER_NAME: ${POSTGRES_USER}
      CAMUNDA_DB_PASSWORD: ${POSTGRES_PASSWORD}

aac-manage-case-assignment:
  java:
    ingressHost: manage-case-assignment-civil-ccd-staging-aat.aat.platform.hmcts.net
civil-wa:
  enabled: false

postgresql:
  enabled: false

ccd-events-topic:
  enabled: false

wiremock:
  enabled: true
  image: hmctspublic.azurecr.io/imported/wiremock/wiremock
  applicationPort: 8080
  imagePullPolicy: Always
  releaseNameOverride : ${SERVICE_NAME}-wiremock
  verbose: true
  ingressHost: civil-ccd-wiremock-staging-aat.aat.platform.hmcts.net
  volumes:
    - name: wiremock-mocks
      configMap:
        name: ${SERVICE_NAME}-wiremock-wm
  volumeMounts:
    - name: wiremock-mocks
      mountPath: /home/wiremock/mappings
      subPath: mappings
