civil-ccd-stack:
  enabled: false

civil-service:
  java:
    environment:
      CORE_CASE_DATA_API_URL: http://ccd-data-store-api-aat.service.core-compute-aat.internal
      HMC_API_URL: http://hmc-cft-hearing-service-aat.service.core-compute-aat.internal
      HMC_HEARINGS_SUBSCRIPTION_ENABLED: true
      HMC_HEARINGS_TOPIC_NAME: hmc-to-cft-aat
      HMC_HEARINGS_TOPIC_NAMESPACE: hmc-servicebus-aat
      HMC_HEARINGS_TOPIC_POLICY_NAME: SendAndListenSharedAccessKey
      HMC_HEARINGS_TOPIC_SUBSCRIPTION_NAME: "hmc-to-civil-subscription-pr-${CHANGE_ID}"
      HMC_HEARINGS_TOPIC_THREAD_COUNT: 4

xui-webapp:
  enabled: true
  nodejs:
    image: hmctspublic.azurecr.io/xui/webapp:pr-4912
    environment:
      SERVICES_HEARINGS_COMPONENT_API: http://jurisdiction-hearings-api-aat.service.core-compute-aat.internal
      SERVICES_HEARINGS_COMPONENT_API_SSCS: http://${SERVICE_NAME}-sscs-hearings-api
      HEALTH_CCD_COMPONENT_API: https://gateway-ccd.aat.platform.hmcts.net/health
      HEALTH_CCD_DATA_API: http://ccd-data-store-api-aat.service.core-compute-aat.internal/health
      SERVICES_CCD_COMPONENT_API: https://gateway-ccd.aat.platform.hmcts.net
      SERVICES_EM_ANNO_API: https://gateway-ccd.aat.platform.hmcts.net
      SERVICES_CCD_DATA_STORE_API: http://ccd-data-store-api-aat.service.core-compute-aat.internal
      SERVICES_HMC_HEARINGS_COMPONENT_API: http://hmc-cft-hearing-service-aat.service.core-compute-aat.internal
      SERVICES_HEARINGS_COMPONENT_API_CIVIL: https://civil-ccd-pr-${CHANGE_ID}.preview.platform.hmcts.net
      SERVICES_HEARINGS_CASETYPES_CIVIL: CIVIL-${CHANGE_ID}
      HEARINGS_JURISDICTIONS: CIVIL
      LAUNCH_DARKLY_CLIENT_ID: 5de6610b23ce5408280f2268

#servicebus:
#  enabled: true
#  resourceGroup: hmc-shared-aat
#  sbNamespace: hmc-servicebus-aat
#  #Each topic/queue matches up to one used in the config above
#  setup:
#    topics:
#      - name: hmc-to-cft-aat
#        subscriptionNeeded: yes

ccd-def-cleanup:
  enabled: true
  change_id: ${CHANGE_ID}
  case_type_ids:
    - CIVIL
