civil-wa:
  enabled: false

civil-service:
  java:
    keyVaults:
      civil:
        resourceGroup: civil
        secrets:
          - name: civil-idam-client-secret
            alias: idam.client.secret
          - name: microservicekey-civil-service
            alias: idam.s2s-auth.totp_secret
          - name: system-update-user-username
            alias: CIVIL_SYSTEM_UPDATE_USERNAME
          - name: system-update-user-password
            alias: CIVIL_SYSTEM_UPDATE_PASSWORD
          - name: cross-access-user-username
            alias: CIVIL_CROSS_ACCESS_USERNAME
          - name: cross-access-user-password
            alias: CIVIL_CROSS_ACCESS_PASSWORD
          - name: prd-admin-user-username
            alias: CIVIL_PRD_ADMIN_USERNAME
          - name: prd-admin-user-password
            alias: CIVIL_PRD_ADMIN_PASSWORD
          - name: appinsights-connection-string
            alias: appinsights-connection-string
          - name: AppInsightsInstrumentationKey
            alias: azure.application-insights.instrumentation-key
          - name: docmosis-api-key
            alias: docmosis.tornado.key
          - name: gov-notify-api-key
            alias: GOV_NOTIFY_API_KEY
          - name: sendgrid-api-key
            alias: SENDGRID_API_KEY
          - name: robotics-notification-sender
            alias: robotics.notification.sender
          - name: robotics-notification-recipient
            alias: robotics.notification.recipient
          - name: launch-darkly-sdk-key-non-prod
            alias: LAUNCH_DARKLY_SDK_KEY
          - name: robotics-notification-multipartyrecipient
            alias: robotics.notification.multipartyrecipient
          - name: robotics-notification-recipient-spec
            alias: robotics.notification.specRecipient
          - name: robotics-notification-recipient-lipj
            alias: robotics.notification.lipJRecipient
          - name: ordnance-survey-api-key
            alias: OS_POSTCODE_LOOKUP_API_KEY
          - name: notification-caseworker-spec-receiver
            alias: notification.caseworker.spec.receiver
          - name: mediation-notification-sender
            alias: mediation.emails.sender
          - name: mediation-notification-recipient
            alias: mediation.emails.recipient
          - name: hmc-servicebus-shared-access-key-tf
            alias: HMC_HEARINGS_TOPIC_ACCESS_KEY
    environment:
      LAUNCH_DARKLY_ENV: ${SERVICE_FQDN}
      OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/realms/root/realms/hmcts
      SERVICE_REQUEST_UPDATE: https://${SERVICE_NAME}.preview.platform.hmcts.net/service-request-update
      SERVICE_REQUEST_UPDATE_CLAIM_ISSUED: https://${SERVICE_NAME}.preview.platform.hmcts.net/service-request-update-claim-issued
      HMC_HEARINGS_SUBSCRIPTION_ENABLED: false
      CMC_DB_HOST: civil-preview.postgres.database.azure.com
      CMC_DB_CONNECTION_OPTIONS: "?stringtype=unspecified&reWriteBatchedInserts=true&sslmode=require"
      CMC_DB_USERNAME: hmcts
      CMC_DB_NAME: "pr-${CHANGE_ID}-cmc"
    secrets:
      CMC_DB_PASSWORD:
        secretRef: postgres
        key: PASSWORD
        disabled: false
    postgresql:
      enabled: false
idam-pr:
  redirect_uris:
    XUI:
      - https://xui-${SERVICE_FQDN}/oauth2/callback

aac-manage-case-assignment:
  java:
    ingressHost: manage-case-assignment-${SERVICE_NAME}.preview.platform.hmcts.net

civil-general-applications:
  enabled: true
  java:
    environment:
      CMC_DB_HOST: civil-preview.postgres.database.azure.com
      CMC_DB_CONNECTION_OPTIONS: "?stringtype=unspecified&reWriteBatchedInserts=true&sslmode=require"
      CMC_DB_USERNAME: hmcts
      CMC_DB_NAME: "pr-${CHANGE_ID}-cmc"
    secrets:
      CMC_DB_PASSWORD:
        secretRef: postgres
        key: PASSWORD
        disabled: false

xui-webapp:
  nodejs:
    ingressHost: xui-${SERVICE_FQDN}
    environment:
      SERVICES_WORK_ALLOCATION_TASK_API: http://{{ .Release.Name }}-wa-task-management-api
      SERVICES_WA_WORKFLOW_API_URL: http://wa-workflow-api-${SERVICE_FQDN}
ccd:
  global:
    postgresUsername: hmcts
    postgresSecret: postgres
    postgresHostname: civil-preview.postgres.database.azure.com
    databaseNamePrefix: "pr-${CHANGE_ID}-"
  ccd-api-gateway-web:
    nodejs:
      ingressHost: gateway-${SERVICE_FQDN}
  ccd-data-store-api:
    java:
      environment:
        OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-{{ .Values.global.environment }}.internal:8443/openam/oauth2/hmcts
        CCD_S2S_AUTHORISED_SERVICES_CASE_USER_ROLES: civil_service,aac_manage_case_assignment
        DATA_STORE_S2S_AUTHORISED_SERVICES: ccd_data,ccd_gw,ccd_ps,bulk_scan_orchestrator,ccpay_bubble,ctsc_work_allocation,em_ccd_orchestrator,xui_webapp,civil_service,ccd_case_document_am_api,aac_manage_case_assignment,wa_task_management_api,wa_task_monitor,wa_case_event_handler,wa_workflow_api,civil_general_applications
      ingressHost: ccd-data-store-api-${SERVICE_FQDN}
  ccd-definition-store-api:
    java:
      ingressHost: ccd-definition-store-${SERVICE_FQDN}

camunda-bpm:
  enabled: true
  java:
    disableKeyVaults: true
    environment:
      CAMUNDA_DB_HOST: civil-preview.postgres.database.azure.com
      CAMUNDA_DB_USER_NAME: hmcts
      CAMUNDA_DB_CONN_OPTIONS: "?stringtype=unspecified&reWriteBatchedInserts=true&sslmode=require"
      CAMUNDA_DB_NAME: "pr-${CHANGE_ID}-camunda"
      TEMP_VAR: false
    secrets:
      CAMUNDA_DB_PASSWORD:
        secretRef: postgres
        key: PASSWORD
        disabled: false

postgresql:
  enabled: true
  flexibleserver: civil-preview
  setup:
    databases:
      - name: "pr-${CHANGE_ID}-data-store"
      - name: "pr-${CHANGE_ID}-definition-store"
      - name: "pr-${CHANGE_ID}-user-profile"
      - name: "pr-${CHANGE_ID}-draftstore"
      - name: "pr-${CHANGE_ID}-evidence"
      - name: "pr-${CHANGE_ID}-annotation"
      - name: "pr-${CHANGE_ID}-role-assignment"
      - name: "pr-${CHANGE_ID}-hmc-cft-hearing-service"
      - name: "pr-${CHANGE_ID}-cft_task_db"
      - name: "pr-${CHANGE_ID}-wa-case-event-handler"
      - name: "pr-${CHANGE_ID}-wa_workflow_api"
      - name: "pr-${CHANGE_ID}-camunda"
      - name: "pr-${CHANGE_ID}-org_role_mapping"
      - name: "pr-${CHANGE_ID}-emstitch"
      - name: "pr-${CHANGE_ID}-payment"
      - name: "pr-${CHANGE_ID}-dbrdcaseworker"
      - name: "pr-${CHANGE_ID}-dbrefdata"
      - name: "pr-${CHANGE_ID}-dbuserprofile"
      - name: "pr-${CHANGE_ID}-dbjuddata"
      - name: "pr-${CHANGE_ID}-cmc"
