civil-service:
  java:
    image: 'hmctspublic.azurecr.io/civil/service:latest'
    keyVaults:
      civil:
        resourceGroup: civil
        secrets:
          - name: civil-idam-client-secret
            alias: idam.client.secret
          - name: microservicekey-civil-service
            alias: idam.s2s-auth.totp_secret
          - name: system-update-user-username
            alias: CIVIL_SYSTEM_UPDATE_USERNAME
          - name: system-update-user-password
            alias: CIVIL_SYSTEM_UPDATE_PASSWORD
          - name: cross-access-user-username
            alias: CIVIL_CROSS_ACCESS_USERNAME
          - name: cross-access-user-password
            alias: CIVIL_CROSS_ACCESS_PASSWORD
          - name: prd-admin-user-username
            alias: CIVIL_PRD_ADMIN_USERNAME
          - name: prd-admin-user-password
            alias: CIVIL_PRD_ADMIN_PASSWORD
          - name: docmosis-api-key
            alias: docmosis.tornado.key
          - name: gov-notify-guest-list-api-key
            alias: GOV_NOTIFY_API_KEY
          - name: sendgrid-api-key
            alias: SENDGRID_API_KEY
          - name: robotics-notification-sender
            alias: robotics.notification.sender
          - name: robotics-notification-recipient
            alias: robotics.notification.recipient
          - name: launch-darkly-sdk-key-non-prod
            alias: LAUNCH_DARKLY_SDK_KEY
          - name: robotics-notification-multipartyrecipient
            alias: robotics.notification.multipartyrecipient
          - name: robotics-notification-recipient-spec
            alias: robotics.notification.specRecipient
          - name: robotics-notification-recipient-lipj
            alias: robotics.notification.lipJRecipient
          - name: ordnance-survey-api-key
            alias: OS_POSTCODE_LOOKUP_API_KEY
          - name: notification-caseworker-spec-receiver
            alias: notification.caseworker.spec.receiver
          - name: mediation-notification-sender
            alias: mediation.emails.sender
          - name: mediation-notification-recipient
            alias: mediation.emails.recipient
          - name: hmc-servicebus-shared-access-key-tf
            alias: HMC_HEARINGS_TOPIC_ACCESS_KEY
    environment:
      LAUNCH_DARKLY_ENV: ${SERVICE_FQDN}
      OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/realms/root/realms/hmcts
      SERVICE_REQUEST_UPDATE: https://${SERVICE_NAME}.preview.platform.hmcts.net/service-request-update
      SERVICE_REQUEST_UPDATE_CLAIM_ISSUED: https://${SERVICE_NAME}.preview.platform.hmcts.net/service-request-update-claim-issued
      HMC_HEARINGS_SUBSCRIPTION_ENABLED: false
      CMC_DB_PASSWORD: "{{ .Values.postgresql.auth.postgresPassword}}"
#      CMC_DB_HOST: civil-preview.postgres.database.azure.com
#      CMC_DB_CONNECTION_OPTIONS: "?stringtype=unspecified&reWriteBatchedInserts=true&sslmode=require"
#      CMC_DB_USERNAME: hmcts
#      CMC_DB_NAME: "pr-${CHANGE_ID}-cmc"
    secrets:
      CMC_DB_PASSWORD:
        secretRef: postgres
        key: PASSWORD
        disabled: true
    postgresql:
      enabled: true
      releaseNameOverride: ${SERVICE_NAME}-postgresql
      auth:
        username: ${POSTGRES_USER}
        password: ${POSTGRES_PASSWORD}
        database: cft_task_db
        postgresPassword: ${POSTGRES_PASSWORD}
      primary:
        persistence:
          enabled: false
        extraEnvVars:
          - name: POSTGRESQL_WAL_LEVEL
            value: "logical"
        resources:
          requests:
            cpu: 25m
        initdb:
          user: ${POSTGRES_USER}
          password: ${POSTGRES_PASSWORD}
          scripts:
            00_grant_superuser_role.sql: |
              ALTER ROLE hmcts WITH SUPERUSER;
            01_init_civil.sql: |
              CREATE DATABASE cmc WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "data-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "definition-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "camunda" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "role_assignment" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            02_init_wa.sql: |
              CREATE DATABASE "wa-task-management-api" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "wa-case-event-handler" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "wa_workflow_api" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "cft_task_db_replica" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
