civil-general-applications:
  enabled: false
civil-service:
  java:
    ingressHost: ${SERVICE_NAME}.aat.platform.hmcts.net
    keyVaults:
      civil:
        resourceGroup: civil
        secrets:
          - civil-idam-client-secret
          - microservicekey-civil-service
          - system-update-user-username
          - system-update-user-password
          - cross-access-user-username
          - cross-access-user-password
          - prd-admin-user-username
          - prd-admin-user-password
          - AppInsightsInstrumentationKey
          - docmosis-api-key
          - gov-notify-api-key
          - sendgrid-api-key
          - robotics-notification-sender
          - robotics-notification-recipient
          - robotics-notification-recipient-spec
          - launch-darkly-sdk-key
          - ordnance-survey-api-key
          - robotics-notification-multipartyrecipient
          - notification-caseworker-spec-receiver
          - default-password
          - judge-default-password
          - iac-default-password
    environment:
      LAUNCH_DARKLY_ENV: ccd-staging
      SERVICE_REQUEST_UPDATE: https://${SERVICE_NAME}.aat.platform.hmcts.net/service-request-update
      SERVICE_REQUEST_UPDATE_CLAIM_ISSUED: https://${SERVICE_NAME}.aat.platform.hmcts.net/service-request-update-claim-issued
      OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/realms/root/realms/hmcts
      HMC_HEARINGS_SUBSCRIPTION_ENABLED: false
      CMC_DB_PASSWORD: ${POSTGRES_PASSWORD}
idam-pr:
  redirect_uris:
    XUI:
      - https://civil-ccd-xui-staging.aat.platform.hmcts.net/oauth2/callback
xui-webapp:
  nodejs:
    ingressHost: civil-ccd-xui-staging.aat.platform.hmcts.net
ccd:
  ccd-api-gateway-web:
    nodejs:
      ingressHost: civil-ccd-gateway-staging-aat.aat.platform.hmcts.net
  ccd-data-store-api:
    java:
      ingressHost: civil-ccd-data-store-staging-aat.aat.platform.hmcts.net
      DATA_STORE_DB_HOST: ${SERVICE_NAME}-postgresql

  ccd-definition-store-api:
    java:
      ingressHost: civil-ccd-definition-store-staging-aat.aat.platform.hmcts.net
      DEFINITION_STORE_DB_HOST: ${SERVICE_NAME}-postgresql

  ccd-user-profile-api:
    java:
      ingressHost: civil-ccd-xui-staging-aat.aat.platform.hmcts.net
      USER_PROFILE_DB_HOST: ${SERVICE_NAME}-postgresql

camunda-bpm:
  java:
    ingressHost: civil-ccd-camunda-staging-aat.aat.platform.hmcts.net
aac-manage-case-assignment:
  java:
    ingressHost: manage-case-assignment-civil-ccd-staging-aat.aat.platform.hmcts.net
civil-wa:
  enabled: false

postgresql:
  enabled: false