ccd:
  ccd:
    adminWeb:
      enabled: true
    elastic:
      enabled: true
  ccd-data-store-api:
    java:
      releaseNameOverride: ${SERVICE_NAME}-ccd-data-store-api
      environment:
        ELASTIC_SEARCH_ENABLED: true
        ELASTIC_SEARCH_HOSTS: ${SERVICE_NAME}-es-master:9200
        ELASTIC_SEARCH_DATA_NODES_HOSTS: http://${SERVICE_NAME}-es-master:9200
  ccd-definition-store-api:
    java:
      releaseNameOverride: ${SERVICE_NAME}-ccd-definition-store-api
      environment:
        DEFINITION_STORE_IDAM_KEY: ${CCD_DEFINITION_STORE_S2S_SECRET}
        IDAM_USER_URL: https://idam-web-public.aat.platform.hmcts.net
        ELASTIC_SEARCH_ENABLED: true
        ELASTIC_SEARCH_HOST: ${SERVICE_NAME}-es-master
        ELASTIC_SEARCH_CASE_INDEX_MAPPING_FIELDS_LIMIT: 10000
        WELSH_TRANSLATION_ENABLED: true
        TS_TRANSLATION_SERVICE_HOST: http://${SERVICE_NAME}-translation-service
  ccd-admin-web:
    nodejs:
      image: hmctspublic.azurecr.io/ccd/admin-web:latest
      ingressHost: admin-web-${SERVICE_FQDN}
      environment:
        ADMINWEB_GLOBAL_SEARCH_INDEX_URL: http://${SERVICE_NAME}-ccd-definition-store/elastic-support/global-search/index
        ADMINWEB_ELASTIC_CASE_TYPES_URL: http://${SERVICE_NAME}-ccd-definition-store/elastic-support/case-types
        IDAM_ADMIN_WEB_SERVICE_KEY: ${ADMIN_S2S_KEY}
        IDAM_OAUTH2_AW_CLIENT_SECRET: ${ADMIN_WEB_IDAM_SECRET}
        ADMINWEB_GET_DICTIONARY_URL: http://${SERVICE_NAME}-translation-service/dictionary
        ALLOW_CONFIG_MUTATIONS: true
      keyVaults: [ ]
  elasticsearch:
    nameOverride: ${SERVICE_NAME}-es
    clusterName: "es"
    replicas: 1
    initResources:
      limits:
        cpu: "500m"
        memory: "512Mi"
      requests:
        cpu: "25m"
        memory: "512Mi"
    minimumMasterNodes: 1
    antiAffinity: "soft"
    esJavaOpts: "-Xmx512m -Xms512m"
    extraEnvs:
      - name: discovery.type
        value: single-node
      - name: cluster.initial_master_nodes
        value: ""
      - name: action.auto_create_index
        value: .security*,.watches,.triggered_watches,.watcher-history-*,.logstash_dead_letter,.ml*
    persistence:
      enabled: false
    ingress:
      enabled: false
      className: traefik

  logstash:
    image: hmctspublic.azurecr.io/ccd/logstash
    imageTag: "latest"
    extraEnvs:
      - name: DATA_STORE_URL
        value: jdbc:postgresql://${SERVICE_NAME}-postgresql:5432/data-store?ssl=disable&stringtype=unspecified
      - name: DATA_STORE_USER
        value: ${POSTGRES_USER}
      - name: DATA_STORE_PASS
        value: ${POSTGRES_PASSWORD}
      - name: DB_URL
        value: jdbc:postgresql://${SERVICE_NAME}-postgresql:5432/data-store?ssl=disable&stringtype=unspecified
      - name: DB_USER
        value: ${POSTGRES_USER}
      - name: DB_PWD
        value: ${POSTGRES_PASSWORD}
      - name: ES_HOSTS
        value: http://${SERVICE_NAME}-es-master:9200
      - name: ES_DATA_NODES_URL
        value: http://${SERVICE_NAME}-es-master:9200
      - name: ELASTIC_SEARCH_DATA_NODES_HOSTS
        value: http://${SERVICE_NAME}-es-master:9200
      - name: ES_URL
        value: http://${SERVICE_NAME}-es-master:9200
    resources:
      requests:
        cpu: "500m"
        memory: "1024Mi"
      limits:
        cpu: "2500m"
        memory: "1024Mi"
    configTpl:
      db.url: jdbc:postgresql://${SERVICE_NAME}-postgresql:5432/data-store?ssl=disable&stringtype=unspecified
      db.user: ${POSTGRES_USER}
      db.pwd: ${POSTGRES_PASSWORD}
      es.data.nodes.url: http://${SERVICE_NAME}-es-master:9200
    livenessProbe:
      initialDelaySeconds: 90

civil-translation:
  enabled: true

ts-translation-service:
  java:
    releaseNameOverride: ${SERVICE_NAME}-translation-service
    ingressHost: ts-${SERVICE_FQDN}
    imagePullPolicy: Always
    keyVaults: [ ]
    environment:
      TS_TRANSLATION_SERVICE_DB_HOST: ${SERVICE_NAME}-postgresql
      TS_TRANSLATION_SERVICE_DB_NAME: ts_translation_service
      TS_TRANSLATION_SERVICE_DB_USERNAME: ${POSTGRES_USER}
      TS_TRANSLATION_SERVICE_DB_PASSWORD: ${POSTGRES_PASSWORD}
      TS_TRANSLATION_SERVICE_DB_PORT: 5432
      TS_TRANSLATION_SERVICE_DB_OPTIONS: ?stringtype=unspecified
